body {
    background-image: linear-gradient(35deg, #d7d8c9, #d4d2bb);
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 30px 0 20px;
    color: #212121;
}

.button-add {
    display: flex;
    justify-content: flex-end;
    button {
        border: none;
        color: white;
        border-radius: 8px;
        background-color: #28a745;
        transition: all 0.2s ease-in;
        width: 148px;
        height: 42px;
        margin-bottom: 8px;
        font-size: 1.6rem;
        &:hover {
            background-color: #00a550;
            cursor: pointer;
        }
        a {
            color: white;
        }
    }
}

.confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 160px;
    background-color: #212121;
    color: #fff;
    border-radius: 3px;
    display: none;
    h2 {
        margin: 20px 0 40px;
    }
    .confirm-button {
        display: flex;
        justify-content: flex-end;
    }
}

table {
    border-collapse: collapse;
    background-color: #fff;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 6px 15px rgb(0 0 0 / 25%);
    thead {
        background-color: #212121;
        color: #fff;
        font-size: 1.8rem;
        tr {
            height: 50px;
            th {
                font-weight: normal;
                text-align: left;
            }
            .table-name {
                padding-left: 14px;
            }
        }
    }
    tbody {
        color: #525252;
        tr {
            height: 48px;
            td:first-child {
                padding-left: 14px;
            }
            button {
                border: none;
                background-color: #fff;
                font-size: 1.6rem;
                i {
                    color: #495057;
                    cursor: pointer;
                }
                &:last-child {
                    margin-left: 6px;
                }
            }
            &:nth-child(even) {
                background-color: #f2f2f2;
            }
            &:hover {
                color: black;
                background-color: #ddd;
                transition: all 0.2s ease-in-out;
                a, i {
                    background-color: #ddd;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}

// create
.create {
    .create-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
        input {
            width: 899px;
            border-radius: 3px;
            border: solid 1px #929292;
            outline: none;
            padding: 8px;
            font-size: 1.6rem;
        }
    }
    .group-btn {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 10px 18px;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 4px;
            background-color: #212121;
            font-size: 1.6rem;
            a {
                color: white;
            }
        }
        #save {
            margin-left: 10px;
            background-color: #28a745;
            transition: all 0.4s ease-in;
            color: white;
            &:hover {
                background-color: #00a550;
            }
        }
    }
}

// edit
.edit {
    .edit-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
        input {
            width: 899px;
            border-radius: 3px;
            border: solid 1px #929292;
            outline: none;
            padding: 8px;
            font-size: 1.6rem;
        }
    }
    .group-btn {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 10px 18px;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 4px;
            background-color: #212121;
            font-size: 1.6rem;
            a {
                color: white;
            }
        }
        #save {
            margin-left: 10px;
            background-color: #28a745;
            transition: all 0.4s ease-in;
            color: white;
            &:hover {
                background-color: #00a550;
            }
        }
    }
}